In [ ]:
introduction to list datatype :

In [ ]:
defination : A list is a collection of items declared in a particular order.
    
classification : It is classified as a mutable datatype
    
how to declare a list datatype ====> []

In [1]:
students = ['roshini','naveena','kumar','joseph','abdul','kareem']  # 0,1,2,3,4,5

In [2]:
print(students)

['roshini', 'naveena', 'kumar', 'joseph', 'abdul', 'kareem']

In [3]:
type(students)

list

In [ ]:
introduction to indexing : 0,1,2,3,4.......

In [ ]:
# req I want to access Naveenas name in the ouput.....?

In [4]:
print(students[1])

naveena

In [5]:
print(students[1].title())

Naveena

In [6]:
print(students[3].title())

Joseph

In [ ]:
1. how to add new elements to the list =================> completed
2. how to modify the elements in the list ==============> Completed
3. how to delete the elements in the list

In [ ]:
# req : i want to add jadhav in the above list

In [7]:
students.append('jadhav')

In [8]:
print(students)

['roshini', 'naveena', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav']

In [ ]:
# req : i want to add karthik in the above list

In [9]:
students.append('karthik')

In [10]:
print(students)

['roshini', 'naveena', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav', 'karthik']

In [ ]:
# req : i want to add Rakesh in the above list in 2nd index position

In [11]:
students.insert(2,'rakesh')

In [12]:
print(students)

['roshini', 'naveena', 'rakesh', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav', 'karthik']

In [ ]:
int_question : what is the diff between append method and insert method in a list datatype, can you pls explain?

In [13]:
print(students)

['roshini', 'naveena', 'rakesh', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav', 'karthik']

In [ ]:
# req : i want to modify naveena name to suresh

In [14]:
students[1] = 'suresh'

In [15]:
print(students)

['roshini', 'suresh', 'rakesh', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav', 'karthik']

In [16]:
del students[0]  # permanent deleting.

In [17]:
print(students)

['suresh', 'rakesh', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav', 'karthik']

In [ ]:
# temporory deleting ====> pop method **

In [18]:
x = students.pop()

In [19]:
print(students)

['suresh', 'rakesh', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav']

In [20]:
print(x)

karthik

In [ ]:
note : pop method by defualt deletes the last element from the list

In [21]:
print(students)

['suresh', 'rakesh', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav']

In [22]:
a = students.pop(0)

In [23]:
print(students)

['rakesh', 'kumar', 'joseph', 'abdul', 'kareem', 'jadhav']

In [24]:
print(a)

suresh